[Unit]
Description=Eirbot LED Controller (root)
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/eirbot/Documents/robot_3a_2026/.venv/bin/python /home/eirbot/Documents/robot_3a_2026/utils/led_service.py
WorkingDirectory=/home/eirbot/Documents/robot_3a_2026/utils
Restart=always
RestartSec=2
StandardOutput=append:/var/log/led_service.log
StandardError=append:/var/log/led_service.log

[Install]
WantedBy=multi-user.target