[Unit]
Description=Eirbot Central Units
# On attend que l'interface graphique et le réseau soient prêts
After=network.target sound.target graphical.target systemd-user-sessions.service

[Service]
User=eirbot
Group=eirbot
WorkingDirectory=/home/eirbot/Documents/robot_3a_2026
ExecStart=/bin/bash /home/eirbot/Documents/robot_3a_2026/exec.sh

# Redémarrage automatique en cas de crash
Restart=always
RestartSec=5

# Logs
StandardOutput=append:/var/log/ihm.log
StandardError=append:/var/log/ihm.log

# Variables d'environnement pour l'interface graphique
Environment=PYTHONUNBUFFERED=1
Environment=NO_AT_BRIDGE=1
Environment=DISPLAY=:0
# Assurez-vous que ce chemin est correct (parfois c'est dans /run/user/1000/gdm/Xauthority)
Environment=XAUTHORITY=/home/eirbot/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=graphical.target