[Unit]
Description=Eirbot Control Interface (IHM)
After=network.target sound.target

[Service]
User=eirbot
WorkingDirectory=/home/eirbot/Documents/robot_3a_2026/ihm
ExecStart=/home/eirbot/Documents/robot_3a_2026/.venv/bin/python3 /home/eirbot/Documents/robot_3a_2026/ihm/main.py
Restart=always
RestartSec=2
StandardOutput=append:/var/log/ihm.log
StandardError=append:/var/log/ihm.log

[Install]
WantedBy=multi-user.target
