.btn-led { background: #e91e63; font-size: 0.9em; padding: 10px; border: none; border-radius: 4px; color: white; cursor: pointer; }
input[type="color"] { border: none; padding: 0; cursor: pointer; }
table th { border-bottom: 1px solid #555; padding: 5px; }
table td { padding: 5px; border-bottom: 1px solid #222; }